<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137244927-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-137244927-1');
        </script>
        <title th:text="${pageTitle}"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
        <div>
            <div>
                <a href="/">Home</a>
                <a href="/user">User</a>
                <a href="/product">Product</a>
            </div>
        </div>
        <div th:text="${content}"></div>
    </body>

</html>